@tailwind base;
@tailwind components;
@tailwind utilities;

.recharts-cartesian-axis-line {
  stroke-opacity: 0 !important;
  stroke: #00000080;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: black;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: black;
  height: 100px;
}

*::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 40px;
  /* height: 100px; */
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: white;
  text-align: left;
  border-radius: 6px;
  padding: 5px 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0px;
}

.dark .tooltip .tooltip-text {
  background-color: white;
  color: black;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

/* styles.css */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}
